

* {
    margin: 0px;
    padding: 0px;
}

header {
    text-align: center;
    padding: 20px;
}
    
.logo {
    width: 40%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-cliente, .info-veiculo, .info-servico, .info-valor {
    margin: 20px;
    width: 75vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

select {
    margin: 5px;
}

/* DAQUI PRA FRENTE É DO ORÇAMENTO PRONTO*/

.conteudo {
    padding: 30px;
    width: 80vw;
    margin: auto;
}

.topo-orcamento {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;

}

.logo-orcamento {
    width: 250px;
}