

* {
    margin: 0px;
    padding: 0px;
}

header {
    text-align: center;
    padding: 20px;
}
    
.logo {
    width: 40%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    margin: 20px;
    width: 75vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

select {
    margin: 5px;
}